@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 650px) {
.top-nav ul li{
	display: inline-block;
	margin: auto;
	padding: 0;
	border-top: 1px solid red;
}

.top-nav ul {
	text-align: center;
}
}


@media only screen and (min-width: 1000px) {
	.logo {
		text-align: left;
		float: left;

	}

	.top-nav ul {
		text-align: right;
		text-decoration: none;
	}
	.top-nav ul li {
		border-style: none;
		margin-top: 1%;
	}
    .vertical-image {
        width: 50%;
    }
    .photo-cell img{
        float: left;
        width: 46%;
		margin: 2%;
    }
  /*.photo-cell img{
		display: flex;
		margin: 2%;
	}
	.photo-grid {
		display: inline-block;
	}
	.photo-cell{
		float:left;
	}
    */
	}


}
