@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 650px) {
.top-nav ul li{
	display: inline-block;
	margin: auto;
	padding: 0;
	border-top: 1px solid red;
}

.top-nav ul {
	text-align: center;
}
.container {
    display:flex;
}
.photo-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.vertical-image-yellow{
    width: 100%;
}
.vertical-image-blue {
    width: 100%;
}
.photo-cell:nth-child(3) {
     width: 47%;
}
.photo-cell:nth-child(4) {
    width: 47%;
}
}

@media only screen and (min-width: 1000px) {
	.logo {
		text-align: left;
		float: left;

	}

	.top-nav ul {
		text-align: right;
		text-decoration: none;
	}
	.top-nav ul li {
		border-style: none;
		margin-top: 1%;
	}

    .container {
        display: flex;
        flex-wrap: wrap;
    }
/*
    .crafts {
        display: flex;
        flex-wrap:wrap;
        flex-direction: row;
    }
*/
    .photo-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
/*
    .resp-img {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
*/
    .photo-cell {
/*
        display: inline-flex;
        flex-flow: column;
        flex-wrap: wrap;
*/
        width: 48%
    }
.vertical-image-yellow{
    width: 96%;
}
.vertical-image-blue {
    width: 96%;
}
.photo-cell:nth-child(3) {
     width: 23%;
}
.photo-cell:nth-child(4) {
    width: 23%;
}
/*
    .photo-cell img {
        width: 40%;
    }
*/

    /*
    .photo-cell img{
        float: left;
        width: 46%;
		margin: 2%;
    }
  /*.photo-cell img{
		display: flex;
		margin: 2%;
	}
	.photo-grid {
		display: inline-block;
	}
	.photo-cell{
		float:left;
	}
    */
	}


}
