/*Projects */
li.projects {
     float: left;
     width: 33%;
     padding: 1.5% 0 1% 0;
     text-align:center;
}
li.projects img {
     width: 90%;
 }
 
/* Specific project pages */
/*PROJECTS SECTIONS */
img#desktop {
     width: 60%;
 }

h1,h2,h3 {
     clear: both;
 }